@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-color: hsl(273, 75%, 66%);
    background-image: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

.main-thing{
    background-color: white;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */


    box-shadow: -1px 22px 26px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 22px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 22px 26px -10px rgba(0,0,0,0.75);


}

.img{
    margin-top: 6em;
    margin-bottom: 6em;
    width: 45%;
    overflow: hidden;


}

.big-img{
    position: relative;
    left: -75px;
    z-index: 99;
    /* width: 100%; */
}

/* 
.small-img-container{
    max-height: 0;  
    overflow: hidden; 
    border: 2px solid red;
} */

.small-img{
    position: absolute;
    top: 209px;
    left: -7.7em;
    z-index: 99;

    /*
    position: relative;
    left: -97px;
    top: -220px;
    z-index: 99;
    */
}

.faq{
    width: 55%;
    margin: auto;
    padding: 6em 4em;
    font-size: 1.2em;
    line-height: 1.25em;

}

.q-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.q-elements .fa-sort-up{
    display: none;
}


.faq a{
    text-decoration: none;
    color: hsl(238, 29%, 16%);
    width: 100%;
    padding: 0.5em 0;
}

.qna-block{
    border-bottom: 2px solid hsl(240, 5%, 91%);
    padding: 1em 0;
}

p.a{
    color: hsl(240, 6%, 50%);
}

.q-elements a{
    color: hsl(237, 12%, 33%);
}

.q-elements a:hover{
    color: hsl(14, 88%, 65%);
}
.q-elements i{
    color: hsl(14, 88%, 65%);
}

.qna-block:target a{
    color: hsl(238, 29%, 16%);
    font-weight: 800;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;

}

.qna-block:target .answer{
    max-height: 5rem;

}

.qna-block:target .fa-caret-down{
    display: none;
}

.qna-block:target .fa-sort-up{
    display: block;
}



@media (max-width: 720px) {
    .main-thing{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 18em 0;
        
        /* background-image: url('images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover; */



    }

    .img{
       /* max-height: 0; */
        margin: auto;
        width: 50%;
    }

    .big-img{
        position: absolute;
        left: 67px;
        bottom: 492px;
        width: 70%;

        /*
        position: absolute;
        left: 120px;
        bottom: 570px;
        width: 50%;
        */


        /*
        top: -150px;
        right: -100px;
        */
        z-index: 99;
    }

    .small-img{
        width: 30%;
        left: 50px;
        top: -60px;
        /*
        width: 20%;
        left: 110px;
        top: -35px;
        */

    }

    .faq{
        padding: 2em 1em;
        margin-top: 7em;
        margin-bottom: 3em;
        width: 87%;
    }

    .faq h1{
        text-align: center;
        padding: 0.8em 0;
    }


    
}